Important for GATE DA  - Pop and Pop Item operations in Dictionary Deletion

#Python basic notes for DA

In [ ]:
#Python basic notes for DA
print("Shubham Score AIR Under 10 ")
print('Thank You Universe')
print(1167)
print(1+2)
print(1>2)

Shubham Score AIR Under 10
Thank You Universe
1167
3
False

#Variale

In [ ]:
#Variale  - name must start with ALphabet or underscore Only
a = 2
print(a)
a = 5 # On updating the value
print(a)
_a = 7
print(_a)
A = 10
print(A) # Case sensitivity matters here

2
5
7
10

#Operators

In [ ]:
from binascii import b2a_base64
#Operators
"""
1) Arithmatic Operator - +,-,*,/,//,**,%

"""

a = 10
b = 5
c = a+b
print(c)
d = a-b
print(d)
e = a*b
print(e)
f = a % b # Modulus Operator - Retuns the Remainder only
print(f)
g = a/b
print(g)
h = a//b # Floor Division Operator - Gives the exact int ans only.
print(h)
i = print(a**b)# Double Astric - Power Operator
print(i)

15
5
50
0
2.0
2
100000
None

In [ ]:
#2) Logical Operator - AND, OR , NOT
a = 10
print(a<12 and a>20)
print(a<12 or a>20)
print(not(a<12))

False
True
False

In [ ]:
#3) Comparision operator -
"""
!= OR <> - this sumbol os only valid for Python 2 version only
= is assigning operator while == equal to (Checking)
"""
10!=23 # True

a = 2
a == 2# True
a == 3# False

False

#In built Data Structures in Python List, tuples, Sets, Dictionaries

In [ ]:
"""
In built Data Structures in Python
List, tuples, Sets, Dictionaries
"""
# List [] -
#1 List is reprsentd by [] - Square brackets or Columnm
#2) List are mutable object, Ordered, changeble and allow duplicates

list1 = [1,2,2,3,4,5, 'S', 'm', 'AIR_10']
print(list1)
type(list1)

[1, 2, 2, 3, 4, 5, 'S', 'm', 'AIR_10']

list

In [ ]:
# Tuples () -
#1 - Tuples are reprected by short brackets
#2 - Tuples are immutable, Unchangeble, Ordered & Allow Duplicates.
t1 = (1,2,3,4,4,'A', 'd', 'GATE DA')
print(t1)
type(t1)

(1, 2, 3, 4, 4, 'A', 'd', 'GATE DA')

tuple

In [ ]:
# Sets {} -
#1 - Sets are represented by Middle Brackets {}
#2 - Sets are Mutable, Unordered, Unchangeble, and it does not allow duplicates

Set1 = {1,2,5,'A','s'}
print(Set1)
type(Set1)

{1, 2, 'A', 5, 's'}

set

In [ ]:
# Dictionary {Key1 : value1, Key2 : Value2}
#1 - It does not allow duplicate keys, Changeable
#2 - From Python 3.7 dictionaries are ORDERED, but till Python 3.6 dictinaries were UNORDERED
#3 - Key must be unique in the dictionary
dict1 = {a:12, b:23, c:45, "GateRankHolder" : "Shubham Mahajan" }
print(dict1)
type(dict1)

{2: 12, 5: 23, 15: 45, 'GateRankHolder': 'Shubham Mahajan'}

dict

# List Operations -

In [ ]:
# operatins with the following data structures of Python -

# For List first -
List1 = [70,75,80,85,90]
print(List1)

# indexing - Indexing start with 0 always
print(List1[0])#70
print(List1[4])#90
#__________________________________________________

# Splicing of List -
# List[n : m]...elements at possition n to m-1

print(List1[ : 4])#[70, 75, 80, 85]
print(List1[1:4])# [75, 80, 85]
#__________________________________________________

#Updating the List -
# As List is a Mutable object so it allows to update the elements
# Replace the respective eleemnnt with indexing at where we want to update
List1[2] = 84
print(List1)# [70, 75, 84, 85, 90]
#__________________________________________________

#Insertion in List
# Can be done by either INSERT OR APPEND

# APPEND - is uses for inserting an element in the LAST
List1.append(95)
print(List1) # [70, 75, 84, 85, 90, 95]

# INSErT - while insert is uses for inserrtting element at any specific locaiton by locating an index
List1.insert(4,92)
print(List1) # [70, 75, 84, 85, 92, 90, 95]
#__________________________________________________

# Removing Elememnt from List -
#Remove - remove command along with the value of element
# Element from the list can be removed by simple using remove command along with the value of element which need to remobve
print(List1)# [70, 75, 84, 85, 92, 90, 95]
List1.remove(85)
print(List1)# [70, 75, 84, 92, 90, 95]
# if there is multiple same value elements then it will remove the firt one.
List2 = [55,60,65,70,60,45,60,100]
print(List2)#[55, 60, 65, 70, 60, 45, 60, 100]
List2.remove(60)
print(List2)#[55, 65, 70, 60, 45, 60, 100]

#PoP - Pop Commmand is uses for removing value of element from index value
List2 = [55,60,65,70,60,45,60,100]
List2.pop(2)
print(List2)# [55, 60, 70, 60, 45, 60, 100]
#__________________________________________________

[70, 75, 80, 85, 90]
70
90
[70, 75, 80, 85]
[75, 80, 85]
[70, 75, 84, 85, 90]
[70, 75, 84, 85, 90, 95]
[70, 75, 84, 85, 92, 90, 95]
[70, 75, 84, 85, 92, 90, 95]
[70, 75, 84, 92, 90, 95]
[55, 60, 65, 70, 60, 45, 60, 100]
[55, 65, 70, 60, 45, 60, 100]
[55, 60, 70, 60, 45, 60, 100]

# Tuple Operations -

In [ ]:
  # operatins with the following data structures of Python -

# For Tuples -
t1 = (10,15,20,25,30)
print(t1) #(10,15,20,25,30)
#Indexing in tuple -
print(t1[2])#20
print(t1[4])#30
#__________________________________________________

#Slicing in Tuple -
print(t1[:4])# (10, 15, 20, 25)
print(t1[1:4])# (15, 20, 25)
#__________________________________________________

#update in tuple -
"""
t1[2] = 22
print(t1)#'tuple' object does not support item assignment - as tuple is IMMUTABLE so can't update over here.
"""

(10, 15, 20, 25, 30)
20
30
(10, 15, 20, 25)
(15, 20, 25)

"\nt1[2] = 22\nprint(t1)#'tuple' object does not support item assignment - as tuple is IMMUTABLE so can't update over here.\n"

#Sets Operations -

In [ ]:
# operatins with the following data structures of Python -

# Sets  -
set1 = {1,2,4,5,'Piyush','Python'}
print(set1)# {1, 2, 'Python', 4, 5, 'Piyush'} - as order is not fixed so its unordered
#__________________________________________________

#set function  -
#is uses for set(arrange) any set in the correct order.
set2 = set((2,5,6,'Data Analytics'))
print(set2)# {2, 'Data Analytics', 5, 6}
#__________________________________________________

#len() function -
#uses for givving the length of any set, tuple or dictionary
print(len(set1))# 6
print(len(set2))# 4
#__________________________________________________

#remove()#uses for removing element from set using indexng concept
set1.remove(1)
print(set1)#{2, 'Python', 4, 5, 'Piyush'}
#__________________________________________________

#add() # uses for adding elements into  the set
set2.add('Python for Data Scienc')
print(set2)#{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}

{1, 2, 'Python', 4, 5, 'Piyush'}
{2, 'Data Analytics', 5, 6}
6
4
{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}

In [ ]:
#Set Operations - Union, Intersection & Difference

#union Opeation - by | (vertical slash)
print(set1)
print(set2)
set3 = set1 | set2
print(set3)

"""
{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{2, 'Python', 4, 5, 6, 'Data Analytics', 'Python for Data Scienc', 'Piyush'}
"""

{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{2, 'Python', 4, 5, 6, 'Data Analytics', 'Python for Data Scienc', 'Piyush'}

In [ ]:
#Intersection Opeation - by &
print(set1)
print(set2)
set4 = set1 & set2
print(set4)

"""
{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{2, 5}
"""

{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{2, 5}

#Difference Opeation -

In [ ]:
#Difference Opeation -
print(set1)
print(set2)
set5 = set2 - set1
print(set5)

"""
{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{'Data Analytics', 'Python for Data Scienc', 6}
"""

{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{'Data Analytics', 'Python for Data Scienc', 6}

"\n{2, 'Python', 4, 5, 'Piyush'}\n{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}\n{'Data Analytics', 'Python for Data Scienc', 6}\n"

In [ ]:
print(set1)
print(set2)
set6 = set1 - set2
print(set6)

"""
{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{'Python', 4, 'Piyush'}
"""

{2, 'Python', 4, 5, 'Piyush'}
{2, 5, 6, 'Data Analytics', 'Python for Data Scienc'}
{'Python', 4, 'Piyush'}

In [ ]:
set11 = {'Piyush', 4,6,6,8,0,8,'Piyush'}
print(set11)#{0, 4, 6, 8, 'Piyush'} - duplicate entity not  allowed in set
set12 = {'Piyush', 4,6,6,8,0,8,'piyush'}
print(set12)#{0, 'piyush', 4, 6, 8, 'Piyush'} - allow case sensitiveness but don't allow duplicate entity
#__________________________________________________

# Boolean Operator -
set13 = {0, True, False, 'True', 'False'} # here 0 is considered as False and False is also mentioned, so in a set it does not allow to duplicate entity therefore only 1 time printing of either 0's false or False's false
print(set13)

set14 = {1, True, False, 'True', 'False'}
print(set14)#{False, 1, 'False', 'True'}

{0, 4, 6, 8, 'Piyush'}
{0, 'piyush', 4, 6, 8, 'Piyush'}
{0, True, 'False', 'True'}
{False, 1, 'False', 'True'}

#Dictionary Operations -

In [ ]:
# operatins with the following data structures of Python -

# Dictionary -
"""
Creating an empty dictionary
Key must be unique
dict = {key:value, key2:value2}
creating a dictionary with initial value
"""
my_dict = {'name':'Shubham Mahjaan', 'Rank': 10, 'marks' : 75, 'Year' : 2025}
print(my_dict)# {'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025}

#Printing Particular Value from the dictionary  through respective key
#Syntax - NAME_of_dictionary['key1'] = Value1
print(my_dict['Rank'])#10
print(my_dict['Year'])#2025
#__________________________________________________

#Insertion in DIctioanry -
#Adding a new Key & valupair in the dictioanry
#Syntax - NAME_of_dictionary['keyName'] = Value
my_dict['Exam'] = 'GATEDA'
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA'}
my_dict['GateScore'] = 950
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA', 'GateScore': 950}
#__________________________________________________

#Updationn In Dicitoanry -
#Updating any value in its key pair in the dictionary -
#Syntax - nAMEOFDICTIONARY['Key name'] = Updated Value
my_dict['Rank'] = 5
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA', 'GateScore': 950}
#__________________________________________________

#Deletion Operation in Dictionary -
#1 - using del keyword
#Syntax - NAMEOFDICTIONARY['Key Name to be Deleted']
del my_dict['GateScore']
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA'}


#2 - using pop keyword
"""Syntax -
keyname = NAMEOFDICTIONARY.pop('Keyname')
print(NAMEOFDICTIONARY)
print(keyname)
"""
Exam = my_dict.pop('Exam')
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025}
print(Exam)#GATEDA

#3 - Using Popitem
"""Syntax -
item = NAMEOFDICTIONARY.popitem()
print(NAMEOFDICTIONARY)
print(item) - it will give the name of popped item
It will remove arbirtary items one by one by it self
"""
item = my_dict.popitem()
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75}
print(item)# ('Year', 2025)

item = my_dict.popitem()
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 5}
print(item)# ('marks', 75)

item = my_dict.popitem()
print(my_dict)#{'name': 'Shubham Mahjaan'}
print(item)# ('Rank', 5)

item = my_dict.popitem()
print(my_dict)#{}
print(item)#('name', 'Shubham Mahjaan')
#__________________________________________________

# In & Not in
L = [9,6,8,0]
print(9 in L)#True
print(9 not in L)#False

#use this approch to chech the key name present in the dicitonary or not

my_dict = {'name':'Shubham Mahjaan', 'Rank': 10, 'marks' : 75, 'Year' : 2025}
print('Rank' in my_dict)# True
print('GateScore' not in my_dict)# True
#__________________________________________________

#getting all key names from the dictioanry -
my_dict = {'name':'Shubham Mahjaan', 'Rank': 10, 'marks' : 75, 'Year' : 2025}
print(my_dict.keys())# dict_keys(['name', 'Rank', 'marks', 'Year'])

#getting all values from dictionary -
values = my_dict.values()
print(values)#dict_values(['Shubham Mahjaan', 10, 75, 2025])
#__________________________________________________

#Using get function getting valuepair of respective keys
print(my_dict.get('marks'))# 75
print(my_dict.get('Exam'))# None - output for those which key isn't present in the dictionary
#__________________________________________________

# Clear the whole dictionary at a time -
my_dict.clear()
print(my_dict)#{}
#__________________________________________________

#Create a copy of same dictionary -
my_dict = {'name':'Shubham Mahjaan', 'Rank': 10, 'marks' : 75, 'Year' : 2025}
copy_dict = my_dict.copy()
print(copy_dict)# {'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025}
#__________________________________________________

# Returning an object view of dictionary
items = my_dict.items()
print(items)#dict_items([('name', 'Shubham Mahjaan'), ('Rank', 10), ('marks', 75), ('Year', 2025)])
#__________________________________________________

# Usinf setdefault for a default value of keys which are not present in the dictinary -
value = my_dict.setdefault('Exam', 'Not Found Buddy')
print(value)#Not Found Buddy
print(my_dict)#{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'Not Found Buddy'}
#__________________________________________________

#Merging of two dictioanaries -
dict1 = {'name':'Shubham Mahajan', 'ExamName':'GATE DA' }
dict2 = {'Rank':10, 'Year':2025, 'Marks':80 }
dict1.update(dict2)
print(dict1)#{'name': 'Shubham Mahajan', 'ExamName': 'GATE DA', 'Rank': 10, 'Year': 2025, 'Marks': 80}
dict2.update(dict1)
print(dict2)#{'Rank': 10, 'Year': 2025, 'Marks': 80, 'name': 'Shubham Mahajan', 'ExamName': 'GATE DA'}
#__________________________________________________

#nested Dictionary - Where dictinary & List both are together
nested_dict = {
    'person1': {'name': 'Rushil', 'Rank': 10},
    'person2' : {'name' : 'jignesh', 'age' : 45}
}
print(nested_dict['person1']['name'])#Rushil
print(nested_dict['person2']['age'])#45
#__________________________________________________

{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025}
10
2025
{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA'}
{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA', 'GateScore': 950}
{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA', 'GateScore': 950}
{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025, 'Exam': 'GATEDA'}
{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75, 'Year': 2025}
GATEDA
{'name': 'Shubham Mahjaan', 'Rank': 5, 'marks': 75}
('Year', 2025)
{'name': 'Shubham Mahjaan', 'Rank': 5}
('marks', 75)
{'name': 'Shubham Mahjaan'}
('Rank', 5)
{}
('name', 'Shubham Mahjaan')
True
False
True
True
dict_keys(['name', 'Rank', 'marks', 'Year'])
dict_values(['Shubham Mahjaan', 10, 75, 2025])
75
None
{}
{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025}
dict_items([('name', 'Shubham Mahjaan'), ('Rank', 10), ('marks', 75), ('Year', 2025)])
Not Found Buddy
{'name': 'Shubham Mahjaan', 'Rank': 10, 'marks': 75, 'Year': 2025, 'Exam': 'Not Found Buddy'}
{'name': 'Shubham Mahajan', 'ExamName': 'GATE DA', 'Rank': 10, 'Year': 2025, 'Marks': 80}
{'Rank': 10, 'Year': 2025, 'Marks': 80, 'name': 'Shubham Mahajan', 'ExamName': 'GATE DA'}
Rushil
45

#If Else COnditions -

In [ ]:
#If Else COnditions -
"""
if condition -
code to execute if the condition is true
"""

numbers = [1,2,3,4,5,6]
if 5 in numbers:
  print('5 is in the list')#5 is in the list

numerology = [2,4,6,10,12,14]
if 8 in numerology:
  print('8 is not present in numerology')

5 is in the list

In [ ]:
number = 21
if number > 20:
  print('Number s greater')#Number s greater
number2 = 15
if number2 < 20:
  print('Second Number is lesser')#Second Number is lesser

Number s greater
Second Number is lesser

In [ ]:
# if & else statement  -
"""
if condition:
  code to execute if the condition is true
else:
  code to execute if the condition is false
"""
numbers = [70,75,80,85,90]
if 80 in numbers:
  print("yes it's in numbers") # yes it's in numbers
else:
  print('No, not available from the following')

yes it's in numbers

In [ ]:
"""
If else if statements
if condition1:
  code to execute if condition 1 is true
elif condition2:
  code to execute if condition 2 is true
elif condition3:
  code to execute if condition 3 is true
else:
  Code to execute if none of the statement is true.
"""
numbers = [1,2,3,4,5]
if len(numbers) == 0:
  print("The list is empty")
elif len(numbers) < 3:
  print("The list has less than 3 elements")
elif len(numbers) < 5:
  print("The list has less than 5 elements")
else:
  print("The list has 5 or more elements")

#The list has 5 or more elements

The list has 5 or more elements

# For Loop & While Loop

In [ ]:
# For Loop -
"""
A for loop in python is used to iterate over a sequence(like a list, tuple, string or range) and execute a block of code multiple times.

for itemname in sequence:
  #Code to execute for each item
"""

Fruits = ['Apple','Mango','Pineapple']
for fruit in Fruits:
  print(fruit)

"""
Apple
Mango
Pineapple
"""

word = "Python"
for letters in word:
  print(letters)
"""
P
y
t
h
o
n
"""

Statement = "Shubham Mahajan Score AIR 10 in GATE DA"
for line in Statement:
  print(line)
#__________________________________________________

#Range function - range(n) menas from 0 to n-1
for i in range(5):
  print(i)
"""
0
1
2
3
4
"""
for i in range(5):
  print(i**2)
"""
0
1
4
9
16
"""
for i in range(10):
  if i%2!=0:
    print(i)
"""
1
3
5
7
9
"""
#__________________________________________________

#Enumerate Fnction - is  a function uses for printing indexing with entity name.
Fruits = ['Apple','Mango','PineApple']
for Index,fruitname in enumerate(Fruits):
  print(Index,fruitname)
"""
0 Apple
1 Mango
2 PineApple
"""

Apple
Mango
Pineapple
P
y
t
h
o
n
S
h
u
b
h
a
m

M
a
h
a
j
a
n

S
c
o
r
e

A
I
R

1
0

i
n

G
A
T
E

D
A
0
1
2
3
4
0
1
4
9
16
1
3
5
7
9
0 Apple
1 Mango
2 PineApple

In [ ]:
#nested For Lopps - A For Loop inside another For Loop is called as Nested Fir Loop
for i in range(3):
  for j in range(2):
    print(f"i = {i}, j = {j}")
"""
i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1
"""
l1 = [2,3,1,8,7,9]
l2 = [9,6,8,0,2,7]
for i in l1:
  for j in l2:
    if i==j:
      print(i)
"""
2
8
7
9
"""
l1 = ["Shubh","GATE", "DA", 2025, "iit","Placed", 2026]
l2 = ["nIT", "iit", "JEE", "GATE", "Sahil", "Shubh",2027 ]
l3 = []
for i in l1:
  for j in l2:
    if i==j:
      l3.append(i)
      print(l3)
"""
['Shubh']
['Shubh', 'GATE']
['Shubh', 'GATE', 'iit']
"""

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1
2
8
7
9
['Shubh']
['Shubh', 'GATE']
['Shubh', 'GATE', 'iit']

In [ ]:
#Break & Continue Statements with For Loop -
"""
break: Exits the loop prematuraly.
continue: Skips the rest of the code inside the loop for the current iteration and jumps to the next iteraiton
"""
#using break:
for i in range(5):
  if i==3:
    break
  print(i)
"""
0
1
2
"""
#__________________________________________________

#using continue:
for j in range(5):
  if j == 3:
    continue
  print(j)
"""
0
1
2 - Continuing the loop and moving for next iteration by skipping this iteration and loop running for that.
4
"""

0
1
2
0
1
2
4

  #While Loop in Python Programming

In [ ]:
#While Loop in Python Programming
""" A while loop in python repeatedly execute a block of code as long as a specified condition is True.
 It is useful for situatios  where you do not know borehand how many times you need to execute a block of code

Siyntax -
while condition:
  #code to execute repeatdly

We use For loop for iterating over the string, dictionary or anywhere, at where we know that hoe many times it will execute. But While is uses for
conditions till its satisfying.
"""

count = 0
while count<5:
  print(count)
  count+=1
"""
0
1
2
3
4
"""
total = 0
number = 1
while number <=10:
  total+=number
  number+=1
print("Sum of numbers from 1 to 10 is: ", total) #Sum of numbers from 1 to 10 is:  55

fruits = ['Apple','Pineapple','Waatermelon']
index = 0
while index < len(fruits):
  print(fruits[index])
  index+=1
"""
Apple
Pineapple
Waatermelon
"""
#__________________________________________________

#useing Break and continue with while loop
#using Break
number = 0
while number < 10:
  if number == 5:
    break
  print(number)
  number+=1
"""
0
1
2
3
4
"""
#__________________________________________________

#using continue -
number2 = 0
while number2 < 10:
  number2+=1
  if number2%2==0:
    continue
  print(number2)
"""
1
3
5
7
9
"""

0
1
2
3
4
Sum of numbers from 1 to 10 is:  55
Apple
Pineapple
Waatermelon
0
1
2
3
4
1
3
5
7
9

'\n1\n3\n5\n7\n9\n'

#Functions in Python -

In [ ]:
#Functions in Python -
"""
Functions in Python are resusable blocks of code that perform a specific task. They help in organizing code, improving readibility, and reducing redundancy

def function_name(parameters):
  #code to be execute
  return value.
"""
#defining a fcuntion for addition opertion
def add(a,b):
  c = a + b
  return c
print(add(3,4))#7
d = 15+add(3,4)
print(d)#22

#defining a function for checking even/odd
def even_or_odd(num):
  if num%2==0:
    return 'Even Dude'
  else:
    return 'Odd Buddy'

print(even_or_odd(15))#Odd Buddy
print(even_or_odd(8))#Even Dude

7
22
Odd Buddy
Even Dude

In [ ]:
#Variable Length Arguement
"""
Variable Length Arguement IN python allow a function to accept an arbitary no. of arguments. These can be either Possitional Argument oR Keyword Argument.

Types of variable-Lengh Argument
1) Variable Length Possitional Arguement(* args):
These allow a function to accpet any no. of positional argument inside the function, args is treated as tuple.
2) Vairbale Lengh Keyword Arguement(**kwargs):
These allow a function to accpet any no. of Keyword Arugments. Inside the function, **kwargs is treated as a dictionary becuse it works as Key & valuepair.
"""
def greetings(name):
  return (f"Hii,{name} your gate for IIT's is openend.")
print(greetings('Shubham Mahajan'))#Hii,Shubham Mahajan your gate for IIT's is openend.

#what if no arugemtn passed -
def greetings(name):
  return (f"Hii,{name} your gate for IIT's is openend.")
#print(greetings())#greetings() missing 1 required positional argument: 'name'

#a default name, if no argument passed, then when arugement passed then replaced with that -
def greetings(name= 'User'):
  return (f"Hii,{name} your gate for IIT's is openend.")
print(greetings())#Hii,User your gate for IIT's is openend.
print(greetings('Mahajan Saheb'))#Hii,Mahajan Saheb your gate for IIT's is openend.
#__________________________________________________

Hii,Shubham Mahajan your gate for IIT's is openend.
Hii,User your gate for IIT's is openend.
Hii,Mahajan Saheb your gate for IIT's is openend.

In [ ]:
#Possitional Arguemnt : -
#now for multile persons by using Possitional Argument -
def greetings(*args):
  "Greetings and welcome message for multiple people"
  for nameofpeople in args:
    print(f"Hii! {nameofpeople} your gate for IIT's is openend.")

#pEOPLE TO WHOOM I WANT TO INVOTE  -
greetings('Shubham','Stuti','Shruti','Banshi','Deep','Ashish','yashwant','Pragati')
"""
Hii! Shubham your gate for IIT's is openend.
Hii! Stuti your gate for IIT's is openend.
Hii! Shruti your gate for IIT's is openend.
Hii! Banshi your gate for IIT's is openend.
Hii! Deep your gate for IIT's is openend.
Hii! Ashish your gate for IIT's is openend.
Hii! yashwant your gate for IIT's is openend.
Hii! Pragati your gate for IIT's is openend.
"""
#instead of print if i use 'return' then it only takes the first input of last given statement
def greetings(*args):
  "Greetings and welcome message for multiple people"
  for nameofpeople in args:
    return (f"Hii! {nameofpeople} your gate for IIT's is openend.")

#pEOPLE TO WHOOM I WANT TO INVOTE  -
greetings('Shubham','Stuti','Shruti','Banshi','Deep','Ashish','yashwant','Pragati')
#__________________________________________________

Hii! Shubham your gate for IIT's is openend.
Hii! Stuti your gate for IIT's is openend.
Hii! Shruti your gate for IIT's is openend.
Hii! Banshi your gate for IIT's is openend.
Hii! Deep your gate for IIT's is openend.
Hii! Ashish your gate for IIT's is openend.
Hii! yashwant your gate for IIT's is openend.
Hii! Pragati your gate for IIT's is openend.

"Hii! Shubham your gate for IIT's is openend."

In [ ]:
#Keyword Argument  - It works as a dictionary and includes - Key, Valuepair. as it can take multiple info, multiple objects.
def Exam_name(Exam_type,**Exam_info):
  "Describe the exam with its information in coding part"
  print(f"\nExam_type: {Exam_type}")
  for key,value in Exam_info.items():
    print(f"{key.capitalize()}: {value}")

#Example of Exam details
Exam_name("Competitive", name="GATE", SpecializedSubject="DA", Marksrequired=60)
Exam_name("CompanySpecific", name="TCSNQT", SpecializedSubject="DSA", Roles="Prime,Ninja,Digital")
Exam_name("MastersDimploma", name="CDAC", SpecializedSubject="Core_Subjects_of_Computer_Science", Center="Pune")

"""
xam_type: Competitive
Name: GATE
Specializedsubject: DA
Marksrequired: 60

Exam_type: CompanySpecific
Name: TCSNQT
Specializedsubject: DSA
Roles: Prime,Ninja,Digital

Exam_type: MastersDimploma
Name: CDAC
Specializedsubject: Core_Subjects_of_Computer_Science
Center: Pune
"""
#__________________________________________________

Exam_type: Competitive
Name: GATE
Specializedsubject: DA
Marksrequired: 60

Exam_type: CompanySpecific
Name: TCSNQT
Specializedsubject: DSA
Roles: Prime,Ninja,Digital

Exam_type: MastersDimploma
Name: CDAC
Specializedsubject: Core_Subjects_of_Computer_Science
Center: Pune

#Lambda Function in Python

In [ ]:
#Lambda Function in Python
"""
Lambda Function is also known as 'Anonymous Funciton', are small, unnamed functions define with the Lambda Keyword.
They are typically used for short,simple operations and are useful when you need a small function for a short period of time.

Usable Syntax -
lambda arguments: expression

@Understanding - Iwant to use function, but don;t want to or not have the time to give name to each function, so i can use Lambda function to make it Faster & Easier
"""
add_ten = lambda x: x+10
print(add_ten(5))#15

#Using simple fucntion -
def add(x,y):
  c=x+y
  return c
add(3,4)#7
#same using lambda function
addition = lambda x,y: x+y
addition(4,5)#9
#__________________________________________________

15

9

In [ ]:
#Using lambda with map()
""" the map() function applies a given funciton to all items in an iterable (like a list) and returns a map object(an iterator)
Syntax - map(function, iterator)
"""
numbers = [1,2,3,4,5]
squared = map(lambda x: x**2, numbers)# Here map function is working as a iterator, as executing every operation within theat single line of code .
print(list(squared))#[1, 4, 9, 16, 25]

list1  = [1,2,3]
list2 =  [4,5,6]
sum_lists = list(map(lambda x,y: x+y, list1, list2 ))
print(sum_lists)#[5, 7, 9]

#Output without map, for the same code OR What If I don;t use map function
list1  = [1,2,3]
list2 =  [4,5,6]
sum_lists = list((lambda x,y: x+y, list1, list2 ))
print(sum_lists)#[<function <lambda> at 0x7caae730a3b0>, [1, 2, 3], [4, 5, 6]]

tuples = [(1,'a'),(2,'b'),(3,'c')]# List of Tuples
first_elements = list(map(lambda t: t[0], tuples))
print(first_elements)#[1, 2, 3]

students = [{'name':'Alice','age':'24'},
            {'name':'Bob','age':'25'},
            {'name':'Climpson','age':'28'},] # it is a List of Dictionaries
names = list(map(lambda student: student['name'], students))
ages = list(map(lambda student: student['age'], students))
print("Names:",names)
print("Ages:", ages)
"""
Names: ['Alice', 'Bob', 'Climpson']
Ages: ['24', '25', '28']
"""
#__________________________________________________

[1, 4, 9, 16, 25]
[5, 7, 9]
[<function <lambda> at 0x7caae73870a0>, [1, 2, 3], [4, 5, 6]]
[1, 2, 3]
Names: ['Alice', 'Bob', 'Climpson']
Ages: ['24', '25', '28']

In [ ]:
#Using lambda with filter()
"""
The filter() functions constructs an interator from elements of an iterable for which a function returns true.
In other words, it filters out elements from an interable(e.g. a list, tuple, set) bsed on a specified condition

Syntax - filter(function,iterable)
"""

numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = filter(lambda x:x%2 == 0, numbers)# filtering those numbers which are even
print(list(even_numbers))#[2, 4, 6, 8, 10]

#same code without using filter function -
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = (lambda x:x%2 == 0, numbers)
print(list(even_numbers))#[<function <lambda> at 0x7caae73392d0>, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

#Same code using Map function -
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = map(lambda x:x%2 == 0, numbers)
print(list(even_numbers))#[False, True, False, True, False, True, False, True, False, True]

strings = ["a", "ab","abc","abcd","abcde"]
long_strings = filter(lambda s: len(s)> 3, strings)
print(list(long_strings))#['abcd', 'abcde']

#Without using Filtering function it's not filtering the requirement.
strings = ["a", "ab","abc","abcd","abcde"]
long_strings = (lambda s: len(s)> 3, strings)
print(list(long_strings))#[<function <lambda> at 0x7caae7338af0>, ['a', 'ab', 'abc', 'abcd', 'abcde']]

#using Map functions it's retuning tue false.
strings = ["a", "ab","abc","abcd","abcde"]
long_strings = map(lambda s: len(s)> 3, strings)
print(list(long_strings))#[False, False, False, True, True]
#__________________________________________________

[2, 4, 6, 8, 10]
[<function <lambda> at 0x7caae733a950>, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
[False, True, False, True, False, True, False, True, False, True]
['abcd', 'abcde']
[<function <lambda> at 0x7caae733b130>, ['a', 'ab', 'abc', 'abcd', 'abcde']]
[False, False, False, True, True]

#Recursion -

In [ ]:
#Recursion -
"""
Recursion is a Programming technique where a function call itself in order to solve a problem.
It is especially useful for tasks that can be broken down into smaller, simillar sub task.
In python, recursion can be implemented by defining a function that calls itself.

Key Concepts of Recursion -
1) Base Case - The condition under which the recursive function stops calling itself. It prevents Infinite Recursionand Eventual Stack overflow.
2) Recursive Case - The oart if function that includes the recursive call, moving the function towards the base Case.
"""
def factorial(n):
  #Base Case
  if n==0:
    return 1
  #Recursive Base
  else:
    return n* factorial(n-1)

#Example usage
print(factorial(5))#120

def sum_list(numbers):
  #Base Case
  if len(numbers) ==0:
    return 0
  #Recursive Case
  else:
    return numbers[0] + sum_list(numbers[1:])

#Example usage
print(sum_list([1,2,3,4,5]))#15
#__________________________________________________

120
15

#Introduction to OOP

In [ ]:
#Introduction to OOP
"""
Object Oriented Programming(OOP) is a programmming paradigm based on the concept of "Objects", which can contain data oR code to manipulate data.
OOP Emphasizes the use of Objects, Classes,Inheritance,Polymorphism,Encapsulations and abstraction

Classes -
A class ia a blueprint for creating objects. It defines a set ofattributes and methods that the created objects will have.
"""

'\nObject Oriented Programming(OOP) is a programmming paradigm based on the concept of "Objects", which can contain data oR code to manipulate data.\nOOP Emphasizes the use of Objects, Classes,Inheritance,Polymorphism,Encapsulations and abstraction\n\nClasses -\nA class ia a blueprint for creating objects. It defines a set ofattributes and methods that the created objects will have.\n'

In [ ]:
class luxurycars:
  price = 100000
  def cost(self,a,b):
    c=a+b
    return c*10

audi = luxurycars()# luxurycar is my class name while aUDI is my object name here.
print(audi.cost(1000,200))#12000
#__________________________________________________

12000

In [ ]:
"""
#Objects -
An object is an instance of a class. It represents a specific entity with the structure defined by the class.

#Methods -
Methods are functions defined within a class that descibe the behavious of the objects.

#Constructor - In Python, a constructor is a special method used for initilizing the attributes of an object when it is created. The constructor
methpd in python is init, and it is automatically called when a new instance of a class is created.
"""
class Car:
  def __init__(self,make,model,year):
    self.make = make
    self.model = model
    self.year = year

  def display_info(self):
    print(f"{self.year}{self.make}{self.model}")

my_car = Car('Ford','SUV',2020)
print(my_car.display_info())

audi = Car('Audi','SUV',2020)
print(audi.display_info())
#__________________________________________________

2020FordSUV
None
2020AudiSUV
None